<div class="col s4 m4 l4">
    <div class="card small">
        <div class="card-content blue-text text-darken-4">
            <span class="card-title"><%= tv_show.name %></span>
            <p>Description: WIP</p>
        </div>
        <div class="card-action blue darken-4">
            <%= link_to "More Information", tv_show_path(tv_show) %>
        </div>
    </div>
</div>